video {
    vertical-align: top;
    width: 1280; 
    height: 720;
}

video#gum{
    opacity: 0.3;
}

video#recorded{
    display: none;
}

div#interviewTime{
    display: none;
}

button#viewResponse{
    display: none;
}

button#playPause{
    display: none;
}

button#submitVideo{
    display: none;
}