{% extends 'base/navbar.html' %}
{% load static %}

{% block body %}


<div class="image-container" id="home">
    <img src="{% static 'images/2.jpg' %}" alt="background" class="image mySlides">
    <img src="{% static 'images/3.jpg' %}" alt="background" class="image mySlides">
    <img src="{% static 'images/4.jpg' %}" alt="background" class="image mySlides">
    <div class="container">
        <div class="image-text">
            <div class="row">
                <div class="col-md-8 col-xs-12 col-sm-10">
                    <div class="header-text">
                        <h2 class="header-title animate__animated animate__fadeInUp" style="visibility: visible;">We Are
                            Provide Creative Business
                            <span class="dot"></span>
                        </h2>
                        <blockquote class="animate__animated animate__fadeInUp"
                            style="visibility: visible;animation-delay: 1s;">
                            " We Make Sure Best Business Solution For Our Client "
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="services">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="page-title text-center">
                    <h2> Our Services</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 animate__animated service-animation" style="animation-delay: 0.2s;">
                <div class="service-box">
                    <div class="box-icon">
                        <i class="fas fa-lightbulb"></i>
                    </div>
                    <h4>Unique Design</h4>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum, maiores voluptatibus, esse
                        amet, officia dolorum dolor fuga pariatur explicabo nemo repellat autem atque neque sunt
                        consequatur? Ut velit molestias vitae?
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 animate__animated service-animation" style="animation-delay: 0.4s;">
                <div class="service-box">
                    <div class="box-icon">
                        <i class="fas fa-lightbulb"></i>
                    </div>
                    <h4>Unique Design</h4>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum, maiores voluptatibus, esse
                        amet, officia dolorum dolor fuga pariatur explicabo nemo repellat autem atque neque sunt
                        consequatur? Ut velit molestias vitae?
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 animate__animated service-animation" style="animation-delay: 0.6s;">
                <div class="service-box">
                    <div class="box-icon">
                        <i class="fas fa-lightbulb"></i>
                    </div>
                    <h4>Unique Design</h4>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum, maiores voluptatibus, esse
                        amet, officia dolorum dolor fuga pariatur explicabo nemo repellat autem atque neque sunt
                        consequatur? Ut velit molestias vitae?
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 animate__animated service-animation" style="animation-delay: 1.2s;">
                <div class="service-box">
                    <div class="box-icon">
                        <i class="fas fa-lightbulb"></i>
                    </div>
                    <h4>Unique Design</h4>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum, maiores voluptatibus, esse
                        amet, officia dolorum dolor fuga pariatur explicabo nemo repellat autem atque neque sunt
                        consequatur? Ut velit molestias vitae?
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 animate__animated service-animation" style="animation-delay: 1s;">
                <div class="service-box">
                    <div class="box-icon">
                        <i class="fas fa-lightbulb"></i>
                    </div>
                    <h4>Unique Design</h4>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum, maiores voluptatibus, esse
                        amet, officia dolorum dolor fuga pariatur explicabo nemo repellat autem atque neque sunt
                        consequatur? Ut velit molestias vitae?
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 animate__animated service-animation" style="animation-delay: 0.8s;">
                <div class="service-box">
                    <div class="box-icon">
                        <i class="fas fa-lightbulb"></i>
                    </div>
                    <h4>Unique Design</h4>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum, maiores voluptatibus, esse
                        amet, officia dolorum dolor fuga pariatur explicabo nemo repellat autem atque neque sunt
                        consequatur? Ut velit molestias vitae?
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="teams">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="page-title text-center">
                    <h2> Our Expert Team</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="animate__animated team-box " style="animation-delay: 0.2s;">
                    <div class="team-front">
                        <img src="{% static 'images/team-1.jpg' %}" alt="team-1">
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class=" animate__animated team-box" style="animation-delay: 0.4s;">
                    <div class="team-front">
                        <img src="{% static 'images/team-2.jpg' %}" alt="team-1">
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class=" animate__animated team-box" style="animation-delay: 0.6s;">
                    <div class="team-front">
                        <img src="{% static 'images/team-3.jpg' %}" alt="team-1">
                    </div>

                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="animate__animated team-box " style="animation-delay: 0.8s;">
                    <div class="team-front">
                        <img src="{% static 'images/team-4.jpg' %}" alt="team-1">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/home.js' %}"></script>

{% endblock %}