.cust {
  background-color: #f9f9f9;
  box-shadow: 0 0 10px 0 rgba(11, 30, 49, 0.2);
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}

#footer {
  background: #e8e8e8;
  padding: 0 0 10px 0;
  font-size: 14px;
  position: relative;
  width: 100%;
  bottom: 0;
}

#footer .footer-top {
  margin-top: 0px;
  /* background: #1f2833; */
  padding: 10px 0 0 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

#footer .footer-top .social-links a {
  font-size: 32px;
  display: contents;
  transition: 0.9s;
  color: black;
}

#footer .footer-top .social-links a:hover {
  color: #212121;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 20px;
  font-weight: bold;
  color: #212121;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top h4::before {
  right: 0;
  background: #1f2833;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-logo {
  padding-top: 20px;
}

#footer .footer-top .footer-logo img {
  width: 250px;
  height: 250px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul li {
  border-bottom: 1px solid rgb(170, 170, 170);
  padding: 10px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: black;
  font-weight: 500;
}

#footer .footer-top .footer-links ul a:hover {
  color: #4e4c4c;
  text-decoration: none;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
  font-size: 16px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .copyright {
  text-align: center;
  padding-top: 10px;
  background-color: transparent;
  font-weight: 600;
}

.footer-container {
  box-sizing: border-box;
  line-height: 1.3;
  margin: 0 auto;
  padding: 1vw;
  text-align: center;
  width: 100%;
}

@media (max-width: 991px) {
  #footer .footer-top .footer-logo img {
    width: 150px;
    height: 150px;
  }
}
/* ----------footer end----------------- */
