/* .outer-container {
  /* width: 80%; */
/* margin-left: auto; */
/* margin-right: auto; */
/* z-index: 1; */
/* border: 1px solid #212121; */
/* box-shadow: 10px 10px 10px #6b6b6b; 
  background-color: #F5F5F5; 
} */

.heading-font {
  
  font-family: 'Lora', serif;
  /* font-size: 30px; */
  /* font-weight: bolder; */
}
.para-font {
  Font-Family: 'Playfair Display', Serif;
  /* Font-Size: 20px; */
}

.animate {
  opacity: 0;
  transform: translateY(4em);
  transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
    opacity 0.3s 0.25s ease-out;
  will-change: transform, opacity;
}

.is-visible {
  opacity: 1;
  transform: rotateZ(0deg);
}

.custom-container {
  margin: 0 auto;
  padding: 9.2rem;
  width: 100%;
  /* align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; */
}
.text h1 {
  font-size: 6rem;
}

.custom-hr {
  margin-top: 10rem;
  margin-bottom: 10rem;
  border: 1px solid #6b6b6b;
}

.image-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.image {
  width: inherit;
  height: 850px;
  filter: brightness(70%);
}
.image-text {
  position: absolute;
  top: 40%;
  /* left: 0; */
  /* font-size: 6rem; */
  color: #fff;
}
.header-title {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 80px;
  font-weight: 900;
  letter-spacing: 2px;
}
.header-text blockquote {
  font-size: 22px;
  color: #ffffff;
  display: block;
  margin-bottom: 50px;
  border-left: 0px !important;
}

#free-trial {
  padding: 10px 0px;
}

/* .image-free-trial-container{
  position: relative;
}

.image-free-trial{
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
} */

.free-trial-image-container {
  position: relative;
  margin: 6rem;
}

.free-trial-image {
  float: left;
  max-width: 100%;
  height: auto;
  border: 0;
  margin: 4rem;
}

section {
  position: relative;
  clear: both;
}

/* .media-text{
  background-size: cover;
}

.align-left{
  background-position: left;
}

.align-right{
background-position: right;
} */

.align-right .custom-container {
  flex-direction: row-reverse !important;
}

/* .align-right .custom-container .image-box{
  padding-left: 5rem;
} */
.media-text .custom-container {
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  flex-wrap: wrap;
}

.custom-container .image-box {
  flex-grow: 6;
  flex-shrink: 1;
}

.custom-container .text-box {
  flex: 6 1 40rem;
}

.media-text .cell {
  width: 50%;
}

.media-text .image-box img {
  width: 80%;
  height: auto;
  padding-left: 5rem;
}

.text-box h2 {
  font-weight: 700;
}

.btn-custom {
  margin-top: 2rem;
  width: 50%;
  font-weight: bold !important;
  /* background-color: #fe9225; */
  color: #212121;
  border: 0.5px solid #212121;
  border-radius: 2rem;
  background: linear-gradient(to right, #212121 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}
.btn-custom:hover {
  /* /* background-color: #fe9225; */
  color: white;
  /* transition: all ease 1s;  */
  background-position: left bottom;
}
.gray-bg {
  background-color: #f9f9f9;
}

#solution-1 {
  padding: 10px 0px;
}
#solution-2 {
  padding: 10px 0px;
}
.box-title h2 {
  font-weight: 700 !important;
}
#insight {
  padding: 100px 0px;
}
.page-title {
  margin-bottom: 50px;
}
.page-title h1 {
  font-weight: 550;
}
.insight-image-container {
  position: relative;
}
.insight-image-container img {
  width: 80%;
  height: auto;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.service-box {
  padding: 30px;
  margin-bottom: 27px;
  border-radius: 5px;
  background-color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.service-box:hover {
  -webkit-box-shadow: 0 0 30px 0 rgba(11, 30, 49, 0.2);
  box-shadow: 0 0 30px 0 rgba(11, 30, 49, 0.2);
  cursor: default;
}
.box-icon {
  float: left;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  font-size: 30px;
  background: -webkit-linear-gradient(#212121, #9e9c9c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* .media-text{
  background-size: cover;
}
.align-left{
  background-position: left;
}
.align-right{
  background-position: right;
} */
/* 
.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-content {
  padding: 3.2rem;
  font-size: 2.5rem;
}

#flex-1 {
  /* background-color: #cfcfcf; 
  border: 1px solid #212121;
  border-radius: 5px;
}
#flex-1:hover {
  /* transform: scale(1.01); */
/* transition: transform 1s; 
  background-color: #cfcfcf;
}

#flex-2 {
  /* background-color: #cfcfcf; 
  border: 1px solid #212121;
  border-radius: 5px;
}
#flex-2:hover {
  /* transform: scale(1.01); */
/* transition: transform 1s; 
  background-color: #cfcfcf;
}

#flex-3 {
  /* background-color: #cfcfcf; 
  border: 1px solid #212121;
  border-radius: 5px;
}
#flex-3:hover {
  /* transform: scale(1.01); */
/* transition: transform 1s; 
  background-color: #cfcfcf;
}

#flex-4 {
  /* background-color: #cfcfcf; 
  border: 1px solid #212121;
  border-radius: 5px;
}
#flex-4:hover {
  /* transform: scale(1.01); */
/* transition: transform 1s; 
  background-color: #cfcfcf;
}

.screen-image {
  width: 50rem;
  height: 45rem;
} */

/* .laptop{
    width: 45rem;
    height: 30rem;
    background: #000;
    border: 16px solid #262626;
    box-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
    overflow: hidden;
}

.laptop:before{
    content: '';
    position: absolute;
    bottom: -10px;
    left: -15%;
    width: 130%;
    height: 10px;
    background: #fff;
    border-top: 2px solid #ccc;
    border-bottom: 4px solid #ccc;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.laptop:after{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #000;
    left: 50%;
    top: 6px;
} */
@media screen and (max-width: 350px) {
  .text h1 {
    font-size: 3rem;
  }

  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .image {
    width: 100%;
    height: 400px;
  }

  /* .image-text {
    position: absolute;
    top: 200px;
    left: 50px;
    font-size: 2rem;
  } */
  .image-text {
    position: absolute;
    top: 40%;
    /* left: 0; */
    /* font-size: 6rem; */
    color: #fff;
  }
  .header-title {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 1px;
  }
  .header-text blockquote {
    font-size: 11px;
    color: #ffffff;
    display: block;
    margin-bottom: 50px;
    border-left: 0px !important;
  }
  .screen-image {
    width: 25rem;
    height: 25rem;
  }
  .custom-container {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5rem !important;
  }
  .text-box h2,
  .insight-text-box h2 {
    font-size: 20px !important;
  }
  .text-box h3,
  .insight-text-box h3 {
    font-size: 15px !important;
  }
  .btn-custom {
    width: 60%;
  }
  /* .outer-container {
    /* width: 80%; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* z-index: 1; */
  /* border: 1px solid #212121; */
  /* box-shadow: 10px 10px 10px #6b6b6b; 
    background-color: #F5F5F5; 
  } */
  /* .col-sm-6{
    width: 50%;
  } */
}

@media screen and (min-width: 351px) and (max-width: 480px) {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .image {
    width: inherit;
    height: 450px;
  }
  /* .image-text {
    position: absolute;
    top: 200px;
    left: 50px;
    font-size: 2rem;
  } */
  .image-text {
    position: absolute;
    top: 40%;
    /* left: 0; */
    /* font-size: 6rem; */
    color: #fff;
  }
  .header-title {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    font-weight: 900;
    letter-spacing: 1px;
  }
  .header-text blockquote {
    font-size: 14px;
    color: #ffffff;
    display: block;
    margin-bottom: 50px;
    border-left: 0px !important;
  }
  .screen-image {
    width: 30rem;
    height: 30rem;
  }
  .custom-container {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5rem !important;
  }
  .text-box h2,
  .insight-text-box h2 {
    font-size: 20px !important;
  }
  .text-box h3,
  .insight-text-box h3 {
    font-size: 15px !important;
  }
  /* .outer-container {
    /* width: 80%; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* z-index: 1; */
  /* border: 1px solid #212121; */
  /* box-shadow: 10px 10px 10px #6b6b6b; 
    background-color: #F5F5F5; 
  } */
  /* .col-sm-6{
    width: 50%;
  } */
}

@media screen and (min-width: 481px) and (max-width: 1023px) {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .image {
    width: inherit;
    height: 650px;
  }
  /* .image-text {
    position: absolute;
    top: 200px;
    left: 100px;
    font-size: 2.5rem;
  } */
  .image-text {
    position: absolute;
    top: 40%;
    /* left: 0; */
    /* font-size: 6rem; */
    color: #fff;
  }
  .header-title {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 1.2px;
  }
  .header-text blockquote {
    font-size: 17px;
    color: #ffffff;
    display: block;
    margin-bottom: 50px;
    border-left: 0px !important;
  }
  .text-box h2,
  .insight-text-box h2 {
    font-size: 25px;
  }
  .text-box h3,
  .insight-text-box h3 {
    font-size: 20px;
  }
  .custom-container {
    padding: 5rem;
  }
  .insight-image-container img {
    width: 100%;
    height: auto;
  }
  /* .outer-container {
    /* width: 80%; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* z-index: 1; */
  /* border: 1px solid #212121; */
  /* box-shadow: 10px 10px 10px #6b6b6b; 
    background-color: #F5F5F5; 
  } */
  /* .col-sm-6{
    width: 50%;
  } */
}

@media screen and (min-width: 1024px) and (max-width: 1500px) {
  .image {
    width: inherit;
    height: 850px;
  }
  /* .image-text {
    position: absolute;
    top: 200px;
    left: 150px;
    font-size: 3.5rem;
  } */
  .image-text {
    position: absolute;
    top: 40%;
    /* left: 0; */
    /* font-size: 6rem; */
    color: #fff;
  }
  .header-title {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 1.5px;
  }
  .header-text blockquote {
    font-size: 20px;
    color: #ffffff;
    display: block;
    margin-bottom: 50px;
    border-left: 0px !important;
  }
  .text-box h2,
  .insight-text-box h2 {
    font-size: 27px;
  }
  .text-box h3,
  .insight-text-box h3 {
    font-size: 23px;
  }
  /* .outer-container {
    /* width: 80%; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* z-index: 1; */
  /* border: 1px solid #212121; */
  /* box-shadow: 10px 10px 10px #6b6b6b; 
    background-color: #F5F5F5; 
  } */
}

@media screen and (min-width: 1501px) {
  .image {
    width: inherit;
    height: 960px;
  }
  /* .image-text {
    position: absolute;
    top: 300px;
    left: 300px;
    font-size: 5rem;
    color: #cfcfcf;
  } */
  .image-text {
    position: absolute;
    top: 40%;
    /* left: 0; */
    /* font-size: 6rem; */
    color: #fff;
  }
  .container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  /* .media-text .image-box img {
    width: 60%;
    height: auto;
  } */
  .media-text .image-box img {
    width: 70%;
    height: auto;
    padding-left: 10rem;
  }

  .align-right .custom-container .image-box img {
    width: 80%;
    padding-left: 20rem;
  }
  /* .outer-container {
    /* width: 80%; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* z-index: 1; */
  /* border: 1px solid #212121; */
  /* box-shadow: 10px 10px 10px #6b6b6b; 
    background-color: #F5F5F5; 
  } */
}
