/*---------------Navbar--------*/
html {
  scroll-behavior: smooth !important;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  /* background-image: url("/static/images/background.jpg");
    overflow-x: auto;
    /* background-attachment: fixed; */
  /* background-size: cover; */
}
.row{
  margin-left: 0px;
  margin-right: 0px;
}

#symbol {
  float: left;
  display: block;
  text-decoration: none;
  color: white;
  padding: 14px 12px;
  margin-right: 50px;
  margin-left: 100px;
  font-size: 1.2em;
}

.logo {
  width: 80px;
  height: 80px;
  position: absolute;
  margin-left: 25px;
  display: block;
}

/* .navbar{
    min-height: 50px;
} */

header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px 0px;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  margin-bottom: 30px;
  z-index: 1;
  transition: background-color 1s;
  font-size: 1.6rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
}

header nav {
  float: right;
}
header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
header nav ul li {
  list-style: none;
  display: inline-block;
}
header nav ul li a {
  /* height:60px; */
  line-height: 50px;
  padding: 10px 15px;
  color: black !important;
  text-decoration: none !important;
  display: block;
  outline: none;
  /* transition: 0.4s; */
  margin: 0px 4px;
  font-weight: 700;
}

header nav ul li a:after {
  display: block;
  content: "";
  border-bottom: solid 2px black;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}
header nav ul li a:hover:after {
  color: black !important;
  transform: scaleX(1);
}

header nav ul li a:visited:after {
  color: white;
  text-decoration: none !important;
}

/* header nav ul li a:hover{
    color: white;
    text-decoration: none;
    border-bottom: 2px solid white;
    transition: all 1s ease-in; 
} */

/* header nav ul .active{
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid white;
}   */

.menu-toggle {
  color: black;
  float: right;
  line-height: 55px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

.bg-dark {
  /* background-color: #414141;
  opacity: 0.9; */
  color: white;
  /* background-color: rgba(0, 0, 0, 0.4); */
  background-color: rgba(248, 248, 248, 1);
  box-shadow: 0 0 10px 0 rgba(104, 104, 104, 1);
}

.bg-dark a {
  color: white;
}

@media (max-width: 991px) {
  .container {
    width: 95% !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
  .logo{
    margin-left: 0px;
  }
  header {
    padding: 0 20px;
    height: 100px;
  }
  .menu-toggle {
    display: block;
    margin-top: 10px;
  }
  header nav {
    position: absolute;
    width: 100%;
    height: calc(100vh-70px);
    background: linear-gradient(to right, #f8f8f8 0%, #e0e0e0 100%);
    top: 100px;
    left: -100%;
    transition: 0.5s;
  }
  header nav.active {
    left: 0;
    margin-bottom: 100px;
    
  }
  header nav ul {
    display: block;
    text-align: center;
  }
  header nav ul li {
    width: 100%;
  }
  header nav ul li a {
    border-bottom: 1px solid rgba(190, 190, 190, 0.5);
    line-height: 30px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1400px) {
  .container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .bg-dark {
    background-color: rgba(248, 248, 248, 1);
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .bg-dark a {
    color: white;
  }
}
/*----------Navbar end--------*/
