{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css' rel='stylesheet'
        type='text/css' media='all' />
    <link rel="stylesheet" href="{% static 'css/company/invite.css' %}">
</head>

<body>
    <div class="container">
        <div class="form-container">
            <form method="POST" action="/interview/company/invite/" id="companyInvite-form">
                <div class="form-group">
                    <div id="companyNameError" class="error"></div>
                    <label>Company Name</label>
                    <input type="text" class="form-control" name="company_name" id="company_name_pre"
                        placeholder="Eg. My Company">
                </div>
                <div class="form-group">
                    <div id="contactError" class="error"></div>
                    <label>Co-ordinator First Name</label>
                    <input type="text" class="form-control" name="first_name" id="" placeholder="First Name">
                </div>
                <div class="form-group">
                    <div id="contactError" class="error"></div>
                    <label>Co-ordinator Last Name</label>
                    <input type="text" class="form-control" name="last_name" id="" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <div id="contactError" class="error"></div>
                    <label>Co-ordinator Email</label>
                    <input type="email" class="form-control" name="contact" id="contact_pre" placeholder="Email">
                </div>
                <div class=" text-center">
                    <input type="button" class="btn custom-btn" value="Preview" id="preview">
                </div>
                <!-- The Modal -->
                <div id="invite-modal" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close" id="close">&times;</span>
                        <div class="text-center">
                            <h3 class="invite-header">PREVIEW</h3>
                            <form method="POST" action="/interview/company/invite/" id="companyInvite-form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div id="companyNameError" class="error"></div>
                                    <label>Company Name</label>
                                    <input type="text" class="form-control" id="company_name"
                                        placeholder="Eg. My Company">
                                </div>
                                <div class="form-group">
                                    <div id="contactError" class="error"></div>
                                    <label>Co-ordinator Email</label>
                                    <input type="email" class="form-control" id="contact"
                                        placeholder="Email">
                                </div>
                                <div>
                                    <input type="button" class="btn custom-btn" value="Edit" id="edit">
                                    <input type="submit" class="btn custom-btn" value="Send Invite" id="sendInvite">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <!-- <script src="{% static 'js/jquery-3.5.1.min.js'%}"></script> -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="{% static 'js/cloudflare-0.8.0-jszip.js'%}"></script>
    <script src="{% static 'js/cloudflare-0.8.0-xlsx.js'%}"></script>
    <script src="{% static 'js/company/companyInvite.js'%}"></script>


</body>

</html>