{% extends 'company/companyBase.html' %}{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/company/video.css' %}">
<link rel="stylesheet" href="{% static 'css/company/candidateVideo.css' %}">
{% endblock %}

{% block Main %}

<div class="dashboard">
    <div class="main-breadcrum">
        <ul class="breadcrumb_ul">
            <li class="breadcrumb_li"><a class="breadcrumb_a" href="{% url 'companyDashboard' %}">Home</a></li>
            <li class="breadcrumb_li"><a class="breadcrumb_a" href="{% url 'companyVideo' %}">Video</a></li>
            <li class="breadcrumb_li"><a class="breadcrumb_a" href="#">Candidate</a></li>
            <li class="filter_button">
                <div class="dropdown">
                    <button class="dropbtn">Filter <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="#">All</a>
                        <a href="#">Viewed</a>
                        <a href="#">Not Viewed</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="wrapper">
        <div class="cards_wrap">
            <div class="card_item">
                <div class="card_inner">
                    <div class="card_top">
                        <video controls>
                            <source src="{% static 'videos/test.mp4' %}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="card_bottom">
                        <div class="card_name">
                            <a href="{% url 'companySingleVideo' %}">Question 1</a>
                        </div>
                        <div class="card_review">
                            <button><i class="far fa-thumbs-up fa-lg"></i></button>
                            <button><i class="far fa-thumbs-down fa-lg"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card_item">
                <div class="card_inner">
                    <div class="card_top">
                        <video controls>
                            <source src="{% static 'videos/test.mp4' %}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="card_bottom">
                        <div class="card_name">
                            <a href="">Question 2</a>
                        </div>
                        <div class="card_review">
                            <button><i class="far fa-thumbs-up fa-lg"></i></button>
                            <button><i class="far fa-thumbs-down fa-lg"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card_item">
                <div class="card_inner">
                    <div class="card_top">
                        <video controls>
                            <source src="{% static 'videos/test.mp4' %}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="card_bottom">
                        <div class="card_name">
                            <a href="">Question 3</a>
                        </div>
                        <div class="card_review">
                            <button><i class="far fa-thumbs-up fa-lg"></i></button>
                            <button><i class="far fa-thumbs-down fa-lg"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card_item">
                <div class="card_inner">
                    <div class="card_top">
                        <video controls>
                            <source src="{% static 'videos/test.mp4' %}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="card_bottom">
                        <div class="card_name">
                            <a href="">Question 4</a>
                        </div>
                        <div class="card_review">
                            <button><i class="far fa-thumbs-up fa-lg"></i></button>
                            <button><i class="far fa-thumbs-down fa-lg"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card_item">
                <div class="card_inner">
                    <div class="card_top">
                        <video controls>
                            <source src="{% static 'videos/test.mp4' %}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="card_bottom">
                        <div class="card_name">
                            <a href="">Question 5</a>
                        </div>
                        <div class="card_review">
                            <button><i class="far fa-thumbs-up fa-lg"></i></button>
                            <button><i class="far fa-thumbs-down fa-lg"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}