{% extends 'company/companyBase.html' %}{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/company/dashboard.css' %}">

{% endblock %}


{% block Main %}

<div class="dashboard">
    <div class="main-breadcrum">
        <ul class="breadcrumb_ul">
            <li class="breadcrumb_li"><a class="breadcrumb_a" href="#">Home</a></li>
            <li class="breadcrumb_li"><a class="breadcrumb_a" href="#">Page 1</a></li>
            <li class="breadcrumb_li">Page 2</li>
        </ul>
    </div>
    <div class="main-header">
        <div class="main-header_heading">Hello User</div>
        <div class="main-header_updates">Recent Items</div>
    </div>
    <div class="main-overview">
        <div class="overviewcard">
            <div class="overviewcard_icon">Overview</div>
            <div class="overviewcard_info">Card</div>
        </div>
        <div class="overviewcard">
            <div class="overviewcard_icon">Overview</div>
            <div class="overviewcard_info">Card</div>
        </div>
        <div class="overviewcard">
            <div class="overviewcard_icon">Overview</div>
            <div class="overviewcard_info">Card</div>
        </div>
        <div class="overviewcard">
            <div class="overviewcard_icon">Overview</div>
            <div class="overviewcard_info">Card</div>
        </div>
    </div>
    <div class="main-cards">
        <div class="card">Card</div>
        <div class="card">Card</div>
        <div class="card">Card</div>
    </div>

</div>

{% endblock %}