{% extends 'company/companyBase.html' %}{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'css/company/singlevideo.css' %}">
{% endblock %}

{% block Main %}
<div class="dashboard">
    <div class="main-breadcrum">
        <ul class="breadcrumb_ul">
            <li class="breadcrumb_li"><a class="breadcrumb_a" href="{% url 'companyDashboard' %}">Home</a></li>
            <li class="breadcrumb_li"><a class="breadcrumb_a" href="{% url 'companyVideo' %}">Video</a></li>
            <li class="breadcrumb_li"><a class="breadcrumb_a" href="{% url 'companyCandidateVideo' %}">Candidate</a></li>
            <li class="breadcrumb_li"><a class="breadcrumb_a" href="{% url 'companySingleVideo' %}">SingleVideo</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="video-card">
            <div class="video-card-header">
                <h3>Name</h3>
            </div>
            <div class="video-card-body">
                <video controls>
                    <source src="{% static 'videos/test.mp4' %}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="video-card-footer">
                <div class="video-card-footer-left">
                    <button><i class="far fa-thumbs-up fa-2x"></i></button>
                    <button><i class="far fa-thumbs-down fa-2x"></i></button>
                </div>
                <div class="video-card-footer-right">
                    <div class="dropdown">
                        <button class="dropbtn">Download <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="video-text">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At iste ex et, ea, necessitatibus eaque debitis cupiditate similique nobis sequi sed aliquam neque cum illo non laudantium vel culpa atque! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint minima ex commodi, officia nobis voluptatem harum aut vel ut ullam voluptates ad, molestias aspernatur expedita, eveniet voluptas quia amet nulla. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex aut minima distinctio eaque omnis quo hic facilis debitis fugiat, nesciunt odit sunt autem eius voluptates, error enim repudiandae eum iusto! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo, placeat eveniet cupiditate nihil rem necessitatibus soluta voluptates inventore ipsam! Harum natus saepe consectetur ab debitis quia delectus aliquam, quo et?</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}