{% extends 'company/companyBase.html' %}{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/company/editProfile.css' %}">
{% endblock %}

{% block Main %}
<div class="dashboard">
    <div class="main-breadcrum">
        <ul class="breadcrumb_ul">
            <li class="breadcrumb_li"><a class="breadcrumb_a" href="#">Home</a></li>
            <li class="breadcrumb_li"><a class="breadcrumb_a" href="#">Profile</a></li>
        </ul>
    </div>

    <div class="profile-container">
        <div class="text-center">
            <h1> Your Account</h1>
        </div>

        <form class="form-horizontal" id="profile-form" action="{% url 'profile' %}">
            <div class="form-group">
                <label class="control-label col-sm-2" for="fname">First Name:</label>
                <div class="col-sm-10 col-md-8">
                    <input type="text" class="form-control" id="fname" placeholder="Enter your First Name" value="" readonly>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="lname">Last Name:</label>
                <div class="col-sm-10 col-md-8">
                    <input type="text" class="form-control" id="lname" placeholder="Enter your Last Name" value="" readonly>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email:</label>
                <div class="col-sm-10 col-md-8">
                    <input type="email" class="form-control" id="email" placeholder="Enter your Email" value="" readonly>
                </div>
            </div>
        </form>
        <div class="form-group password-wrapper">
            <label class="control-label col-sm-2 change-password-label">Password:</label>
            <div class="col-sm-10 col-md-8 btn-wrapper">
                <a href="{% url 'changePassword' %}"><button class="btn btn-default" id="changePassword">Change Password</button></a>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 col-md-8 btn-wrapper">
                <button type="button" id="edit-button" class="btn btn-default ">Edit</button>
                <button type="submit" class="btn btn-default" id="submit-button" form="profile-form">Submit Changes</button>
            </div>
        </div>
    </div>
</div>


<script src="{% static 'js/company/editProfile.js' %}"></script>

{% endblock %}