{% extends 'account/baseLogin.html'%}
{% load static %}

{% block head %}
<title>Change Password</title>
<link rel="stylesheet" href="{% static 'css/company/changePassword.css' %}">
{% endblock %}

{% block Main %}

{% block body %}
<div class="flip-box-front">
    <h1>Forgot Password</h1>
    <h4 style="margin: 3rem 0rem;">Please enter your old password</h4>
    <form method="POST" action="/accounts/resetPassword/">
        {% csrf_token %}
        <div class="form-group">
            <input type="password" class="form-control" name="old_password" placeholder="Old Password" required>
        </div >
        <div class="form-group">
            <input type="password" class="form-control" name="password1" placeholder="New Password" required>
        </div >
        <div class="form-group">
            <input type="password" class="form-control" name="password2" placeholder="Re-Enter New Password" required>
        </div>
        <div class="form-group">
            <button class="btn custom-btn" type="submit" value="Reset">Submit</button>
        </div>
    </form>
</div>
{% endblock %}
<!-- <div class="dashboard">
    <div class="main-breadcrum">
        <ul class="breadcrumb_ul">
            <li class="breadcrumb_li"><a class="breadcrumb_a" href="#">Home</a></li>
            <li class="breadcrumb_li"><a class="breadcrumb_a" href="#">Profile</a></li>
        </ul>
    </div>

</div> -->

{% endblock %}