{% load static %}
<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/company/base.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css' rel='stylesheet'
        type='text/css' media='all' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="{% static 'js/company/dashboard.js' %}"></script>
    {% block head %}

    {% endblock %}
</head>

<body>
    <ul class="sidebar ul">
        <li class="logo ">
            <img src="{% static 'images/logo.png' %}" alt="">
            <i class="fas fa-times" id="close"></i>
        </li>
        <div class="li_container">
            <li class="active li"><a class="a" href="#">Interview 1</a></li>
            <li class="li"><a href="#" class="a">Interview 2</a></li>
            <li class="li"><a href="#" class="a">Interview 3</a></li>
            <li class="li"><a href="#" class="a">Interview 4</a></li>
            <li class="li"><a href="#" class="a">Interview 5</a></li>
            <li class="li"><a href="#" class="a">Interview 6</a></li>
            <!-- <li><a class="contact" href="#">Contact</a></li> -->
        </div>
    </ul>
    <div class="main-area">
        <div class="navbar_">
            <div class="navbar_button">
                <i class="fas fa-bars"></i>
            </div>
            <div class="navbar_list">
                <div class="nav_item">
                    <a href="{% url 'myInterview' %}">myInterview</a>
                </div>
                <div class="nav_item">
                    <a href="#">Profile</a>
                </div>
            </div>
        </div>

        {% block Main %}

        {% endblock %}

        <!-- <div class="footer_">
            <div class="footer_copyright">&copy;2020 The Black Fox Consulting</div>
            <div class="footer_signature">Footer content</div>
        </div> -->
    </div>

</body>

</html>