{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css' rel='stylesheet'
        type='text/css' media='all' />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/company/setup.css' %}">
</head>

<body>
    <div class="container">
        <div class="form-container">
            <form method="POST" action="/createInterview/{{setup_code}}/" enctype="multipart/form-data"
                id="interviewSetup-form">
                {% csrf_token %}
                <div class="form-group">
                    <label>Company Name</label>
                    <input type="text" class="form-control" name="company_name" id="company_name"
                        value="{{company_name}}" readonly>
                </div>
                <div class="form-group">
                    <label>Interview setup code</label>
                    <input type="text" class="form-control" name="setup_code" id="setup_code" value="{{setup_code}}"
                        readonly>
                </div>
                <h3>Interview Details</h3>

                <div class="form-group">
                    <div id="interviewNameError" class="error"></div>
                    <label>Interview Name</label>
                    <input type="text" class="form-control" name="interview_name" id="interview_name_pre"
                        placeholder="Eg. Interview@MyCompany">
                </div>
                <div class="form-group">
                    <div id="startDateError" class="error"></div>
                    <label>Interview Start Date</label>
                    <input type="datetime-local" name="start_date" id="start_date_pre">
                </div>
                <div class="form-group">
                    <div id="endDateError" class="error"></div>
                    <label>Interview End Date</label>
                    <input type="datetime-local" name="end_date" id="end_date_pre">
                </div>
                <div class="form-group">
                    <div id='questionError' class="error"></div>
                    <label>Question Count</label>
                    <input type="number" class="form-control" name="question_count" id="question_count_pre" min="1"
                        value="1">
                    <input type="button" class="btn custom-btn" id="add" value="Add">
                </div>
                <div id='questions_pre'>
                    <div id='question1Error' class="error"></div>
                    <label class="form-group">Enter Question 1</label>
                    <input type="text" class="form-control" id="question1_pre" name="question1">
                </div>
                <div class="form-group" style="margin-top: 20px;">
                    <div id='candidateError' class="error"></div>
                    <label for="candidateList_pre" id="candidateList_pre_label" class="custom-file-upload">
                        <i class="fa fa-cloud-upload"></i> Upload Candidate list (Enter anExcel sheet)
                    </label>
                    <input type="file" name="candidateList" class="inputfile" id="candidateList_pre"
                        onchange="return checkCandidate();" />



                </div>
                <div class="form-group">
                    <div id='interviewerError' class="error"></div>
                    <input type="file" name="interviewerList" class="inputfile" id="interviewerList_pre"
                        onchange=" return checkInterviewer();">
                    <label for="interviewerList_pre" id="interviewerList_pre_label" class="custom-file-upload"><i
                            class="fa fa-cloud-upload"></i>
                        Upload Interviewer list (Enter an Excel sheet)</label>

                </div>
                <div id="submit" class="text-center">
                    <input type="button" class="btn custom-btn" value="Preview" id="preview">
                </div>
                <!-- The Modal -->
                <div id="setup-modal" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close" id="close">&times;</span>
                        <div class="text-center">
                            <h3 class="invite-header">PREVIEW</h3>
                            <form method="POST">
                                <div class="form-group">
                                    <label>Company Name</label>
                                    <input type="text" class="form-control" id="company_name" value="{{company_name}}"
                                        readonly>
                                </div>
                                <div class="form-group">
                                    <label>Interview setup code</label>
                                    <input type="text" class="form-control" id="setup_code" value="{{setup_code}}"
                                        readonly>
                                </div>
                                <h3>Interview Details</h3>

                                <div class="form-group">
                                    <div id="interviewNameError" class="error"></div>
                                    <label>Interview Name</label>
                                    <input type="text" class="form-control" id="interview_name"
                                        placeholder="Eg. Interview@MyCompany">
                                </div>
                                <div class="form-group">
                                    <div id="startDateError" class="error"></div>
                                    <label>Interview Start Date</label>
                                    <input type="datetime-local" id="start_date">
                                </div>
                                <div class="form-group">
                                    <div id="endDateError" class="error"></div>
                                    <label>Interview End Date</label>
                                    <input type="datetime-local" id="end_date">
                                </div>
                                <div class="form-group">
                                    <div id='questionError' class="error"></div>
                                    <label>Question Count</label>
                                    <input type="number" class="form-control" id="question_count" min="1">
                                    <!-- <input type="button" class="btn custom-btn" id="add" value="Add"> -->
                                </div>
                                <div id="questions_add">
                                    <div id='questions'>
                                        <div id='question1Error' class="error"></div>
                                        <label class="form-group">Question 1</label>
                                        <input type="text" class="form-control" id="question1">
                                    </div>
                                </div>
                                <div class="form-group" style="margin-top: 20px;">
                                    <div id='candidateError' class="error"></div>
                                    <label id="candidateList_label" class="custom-file-upload">
                                        <i class="fa fa-cloud-upload"></i> Upload Candidate list (Enter anExcel sheet)
                                    </label>
                                    <input type="file" class="inputfile" id="candidateList"
                                        onchange="return checkCandidate();" />



                                </div>
                                <div class="form-group">
                                    <div id='interviewerError' class="error"></div>
                                    <input type="file" class="inputfile" id="interviewerList"
                                        onchange=" return checkInterviewer();">
                                    <label id="interviewerList_label" class="custom-file-upload"><i
                                            class="fa fa-cloud-upload"></i>
                                        Upload Interviewer list (Enter an Excel sheet)</label>
                                </div>
                                <div id="submit" class="text-center">
                                    <input type="button" class="btn custom-btn" value="Edit" id="edit">
                                    <input type="submit" class="btn custom-btn" value="Submit" id="finalSubmit">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>



    <script src="{% static 'js/jquery-3.5.1.min.js'%}"></script>
    <script src="{% static 'js/cloudflare-0.8.0-jszip.js'%}"></script>
    <script src="{% static 'js/cloudflare-0.8.0-xlsx.js'%}"></script>
    <script src="{% static 'js/company/interviewSetup.js'%}"></script>

</body>

</html>