{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css' rel='stylesheet'
        type='text/css' media='all' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Alegreya&family=Lora:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:700|Playfair+Display" rel="stylesheet">


    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/account/loginStyle.css'%}">
    <script src="{% static 'js/navbar.js' %}"></script>

</head>

<body>
    <!-- Navbar starts -->
    <!-- <div class="container"> -->
    <div class="row">
        <header id="navbar" class="">
            <div class="container">
                <a href="#"><img src="{% static 'images/logo.png' %}" alt="logo" class="img-fluid logo"></a>
                <nav>
                    <ul>
                        <li><a href="#home">HOME</a></li>
                        <li><a href="#solution-1">SOLUTION</a></li>
                        <li><a href="#services">SERVICES</a></li>
                        <li><a href="#footer">CONTACT</a></li>
                        {% if user.is_authenticated %}
                        <li><a href="">DASHBOARD</a></li>
                        <li><a href="/accounts/logout">LOGOUT</a></li>
                        {% else %}
                        <li><a id="login-button" style="cursor: pointer;">LOGIN</a></li>
                        {% endif %}
                        <!-- <li><a href="#">REQUEST DEMO <i class="fas fa-arrow-right"></i></a></li> -->
                    </ul>
                </nav>

                <div class="menu-toggle">
                    <i class="fa fa-bars icon" aria-hidden="true"></i>
                </div>
            </div>
        </header>
    </div>
    <!-- </div> -->
    {% block body %}

    {% endblock %}

    {% block loginModal %}

    {% endblock %}
        <div class="row cust" >
            <footer id="footer">
                <div class="footer-top">
                    <div class="footer-container">
                        <div class="row">
                            <div class=" col-md-2 col-md-offset-1 col-xs-12 footer-logo">
                                <img src="{% static 'images/logo.png' %}" alt="LOGO">
                            </div>
                            <div class=" col-md-2 col-md-offset-2 col-xs-12 footer-links footer-heading-font">
                                <h4>Useful Links</h4>
                                <ul>
                                    <li><i class="ion-ios-arrow-right"></i> <a href="#home">Home</a></li>
                                    <li><i class="ion-ios-arrow-right"></i> <a href="#solution-1">Solution</a></li>
                                    <li><i class="ion-ios-arrow-right"></i> <a href="#services">Services</a></li>
                                    <li><i class="ion-ios-arrow-right"></i> <a href="#footer">Contact</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4 col-md-offset-1 col-xs-12  footer-contact">
                                <h4>Contact Us</h4>
                                <p>
                                    nfafiasfoasfasfaf<br>fasfafasfafasfaf
                                    <br>asfafasfafasf<br> asfasfafasfasf<br>
                                    <strong>Phone: </strong>1234567897 <br>
                                    <strong>Email: </strong>abc@abc.com <br>
                                </p>
                                <div class="social-links">
                                    <h4>Follow Us</h4>
                                    <a href="#" target="_blank"><i
                                            class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="copyright">
                            &copy;2020 The Black Fox Consulting All Rights Reserved
                        </div>
                    </div>
                </div>
            </footer>
        </div>


    {% for message in messages %}
    <script>
        alert('{{ message }}')
    </script>
    {% endfor %}
    <!-- </div> -->
</body>

</html>