{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Black Fox Consulting</title>
    <link rel="shortcut icon" href="{% static 'images/logo2.jpeg' %}" />
    <!-- CDNS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css' rel='stylesheet'
        type='text/css' media='all' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />

    <!-- Custom inputs -->
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

</head>

<body>
    <!-- Navbar starts -->
    <!-- <div class="container"> -->
    <div class="row">
        <header id="navbar" class="">
            <div class="container">
                <a href="#"><img src="{% static 'images/logo.png' %}" alt="logo" class="img-fluid logo"></a>
                <nav>
                    <ul>
                        <li><a id="nav-home" href="#home">HOME</a></li>
                        <li><a id="nav-service" href="#services">SERVICES</a></li>
                        <li><a href="#">PRODUCTS</a></li>
                        <li><a id="nav-team" href="#teams">TEAM</a></li>
                        <li><a id="nav-contact" href="#contact">CONTACT</a></li>
                    </ul>
                </nav>

                <div class="menu-toggle">
                    <i class="fa fa-bars icon" aria-hidden="true"></i>
                </div>
            </div>
        </header>
    </div>
    <!-- </div> -->


    {% block body %}

    {% endblock %}
    <script src="{% static 'js/navbar.js' %}"> </script>
</body>

</html>