* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.ul {
  height: 100%;
  width: 240px;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background: #f5f5f5;
  overflow-y: auto;
  border-right: 1px solid rgba(56, 56, 56, 0.2);
}

.logo {
  height: 108px;
  margin-top: 0px;
}
.logo img {
  margin-left: 60px;
  margin-top: 20px;
  width: 70px;
  height: auto;
}

#close {
  visibility: hidden;
  float: right;
  font-size: 20px;
  margin: 25px 15px;
  cursor: pointer;
}

.li_container {
  margin-top: 35px;
}
.ul .li {
  height: 65px;
  outline: none;
}
.ul .li .a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 70px;
  font-size: 20px;
  color: #212121;
  padding-left: 10%;
  background: transparent;
  border-top: 1px solid rgba(220, 220, 220, 1);
  border-bottom: 1px solid rgba(220, 220, 220, 1);
  border-left: 5px solid transparent;
  text-decoration: none;
}
/* li a.contact {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
} */

.ul .li .a:hover {
  background-color: rgba(192, 192, 192, 0.2);
  cursor: pointer;
  text-decoration: none;
}

.active .a {
  /* color: #212121; */
  color: #fe9225 !important;
  /* border-right: 5px solid #606060; */
  border-right: 5px solid #fe9225;
  box-shadow: 0px 3px 3px 0 rgba(232, 232, 232, 1),
    0px -3px 3px 0 rgba(232, 232, 232, 1);
  /* background: #323232; */
}

.main-area {
  margin-left: 240px;
  width: calc(100% - 240px);
  height: 100vh;
  overflow-x: auto;
}
h1 {
  font-size: 40px;
  padding: 15px 20px;
}
p {
  padding: 0 20px 10px 20px;
  text-align: justify;
}

.navbar_ {
  width: inherit;
  height: 100px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: #f5f5f5;
  color: #212121;
  box-shadow: 0 4px 5px -5px #777;
  z-index: 3;
}

.navbar_button {
  /* position: fixed; */
  visibility: hidden;
  margin: 0px 25px;
  font-size: 30px;
  cursor: pointer;
  color: #303030;
}

.navbar_list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav_item {
  margin: 0 10px;
}

.footer_ {
  bottom: 0;
  position: fixed;
  width: inherit;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border-top: 1px solid rgba(56, 56, 56, 0.2);
  box-shadow: 0 0 10px 0 rgba(11, 30, 49, 0.2);
  background-color: #dcdcdc;
  color: #212121;
  overflow: hidden;
}


@media screen and (max-width: 1025px) {
  .navbar_button {
    visibility: visible;
  }
  .ul_show {
    transform: translateX(0px) !important;
    transition: all 0.6s ease-in-out;
  }
  .sidebar {
    transform: translateX(-240px);
    transition: all 0.6s ease-in-out;
  }
  .main-area {
    transform: translateX(-240px);
    transition: all 0.6s ease-in-out;
    width: 100%;
    
  }
}
