.dashboard {
  margin-top: 100px;
  margin-left: 0px;
  margin-right: 0px;
}

.main-breadcrum {
  background-color: #f5f5f5;
  height: 50px;
  border-bottom: 1px solid rgba(190, 190, 190, 0.5);
  z-index: 2;
}

/* Style the list */
.breadcrumb_ul {
  padding: 14px 16px;
  list-style: none;
  background-color: inherit;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

/* Display list items side by side */
.breadcrumb_li {
  display: inline;
  font-size: 18px;
  color: #212121;
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumb_li + .breadcrumb_li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
.breadcrumb_a {
  color: #212121;
  text-decoration: none;
}

/* Add a color on mouse-over */
.breadcrumb_a:hover {
  color: #808080;
  /* text-decoration: underline; */
  text-decoration: none;
}

.main-header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  height: 150px;
  background-color: #f5f5f5;
  color: slategray;
  box-shadow: 0 0 5px 0 rgba(11, 30, 49, 0.2);
  border-radius: 5px;
}
.main-overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  grid-auto-rows: 94px;
  grid-gap: 20px;
  margin: 20px;
}

.overviewcard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f5f5f5;
  color: #212121;
  box-shadow: 0 0 5px 0 rgba(11, 30, 49, 0.2);
  border-radius: 5px;
}

.main-cards {
  column-count: 1;
  column-gap: 20px;
  margin: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f0f0f0;
  color: #212121;
  margin-bottom: 20px;
  -webkit-column-break-inside: avoid;
  padding: 24px;
  box-sizing: border-box;
  box-shadow: 0 0 5px 0 rgba(11, 30, 49, 0.2);
  border-radius: 5px;
}

/* Force varying heights to simulate dynamic content */
.card:first-child {
  height: 485px;
}

.card:nth-child(2) {
  height: 200px;
}

.card:nth-child(3) {
  height: 265px;
}

/* Medium screens breakpoint (1050px) */
@media only screen and (min-width: 65.625em) {
  /* Break out main cards into two columns */
  .main-cards {
    column-count: 2;
  }
}
