.dashboard {
  margin-top: 100px;
  margin-left: 0px;
  margin-right: 0px;
}

.profile-container {
  padding: 25px;
}

.breadcrum-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
}

.breadcrum-button {
  visibility: hidden;
  margin: 0px 15px;
  font-size: 20px;
  cursor: pointer;
  color: #303030;
  background-color: #f5f5f5;
  z-index: 2;
  border-radius: 10%;
  border: 1px solid black;
  padding: 5px;
}

.main-breadcrum {
  background-color: #f5f5f5;
  /* height: 50px; */
  /* position: fixed; */
  /* top: 100px; */
  width: 100%;
  /* border-bottom: 1px solid rgba(190, 190, 190, 0.5); */
  z-index: 2;
}

/* Style the list */
.breadcrumb_ul {
  padding: 14px 16px;
  list-style: none;
  background-color: inherit;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

/* Display list items side by side */
.breadcrumb_li {
  display: inline;
  font-size: 18px;
  color: #212121;
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumb_li + .breadcrumb_li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
.breadcrumb_a {
  color: #212121;
  text-decoration: none;
}

/* Add a color on mouse-over */
.breadcrumb_a:hover {
  color: #808080;
  /* text-decoration: underline; */
  text-decoration: none;
}
.password-wrapper{
  height: 34px;
}
.change-password-label{
  text-align: right;
}
.btn-wrapper{
  padding-left: 5px;
}
#submit-button{
  display: none;
}
a {
  color: #212121;
  text-decoration: none;
}
