
.dashboard {
  margin-top: 100px;
  margin-left: 0px;
  margin-right: 0px;
}

.container{
  padding: 0px;
}

.breadcrum-row{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;

}

.breadcrum-button{
  visibility: hidden;
  margin: 0px 15px;
  font-size: 20px;
  cursor: pointer;
  color: #303030;
  background-color: #f5f5f5;
  z-index: 2;
  border-radius: 10%;
  border: 1px solid black;
  padding: 5px;
}

.main-breadcrum {
  background-color: #f5f5f5;
  /* height: 50px; */
  /* position: fixed; */
  /* top: 100px; */
  width: 100%;
  /* border-bottom: 1px solid rgba(190, 190, 190, 0.5); */
  z-index: 2;
}

/* Style the list */
.breadcrumb_ul {
  padding: 14px 16px;
  list-style: none;
  background-color: inherit;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

/* Display list items side by side */
.breadcrumb_li {
  display: inline;
  font-size: 18px;
  color: #212121;
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumb_li + .breadcrumb_li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
.breadcrumb_a {
  color: #212121;
  text-decoration: none;
}

/* Add a color on mouse-over */
.breadcrumb_a:hover {
  color: #808080;
  /* text-decoration: underline; */
  text-decoration: none;
}

.myInterview {
  /* display: flex; */
  /* justify-content: space-between; */
  margin-right: 300px;
  
}

.question-nav{
  background-color: #f5f5f5;
  border-bottom: 1px solid rgba(190, 190, 190, 0.5);
  border-top: 1px solid rgba(190, 190, 190, 0.5);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.question-nav-right{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.question-nav-right-text{
  padding-right: 15px;
}
.question-nav-right-text h4{
  margin: 0px;
}

.button {
  background-color: #fe9225;
  border: none;
  color: black;
  font-weight: 600;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 4px 2px;
  border-radius: 50%;
  outline: none;
}

.button:hover{
  transform: scale(1.12);
}

.video-card {
  width: 100%;
  padding: 0px 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* margin-top: 54px; */
}

.video-card .video-card-header {
  padding: 5px;
}

.video-card .video-card-header h3 {
  color: black;
}

.video-card-body video {
  width: 100%;
  max-height: 60vh;
}
.video-card-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
}

.video-card-footer-left button {
  color: black;
  background-color: transparent;
  border: 0px;
}

.video-card-footer-left button:hover {
  transform: scale(1.12);
}

.dropbtn {
  background-color: #d3d3d3;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: #5e5e5e;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #bebebe;
}

.video-text {
  width: 100%;
  color: black;
  font-size: 18px;
  padding: 10px;
}

#right_close {
  display: none;
  float: left;
  font-size: 25px;
  padding: 20px 10px;
  cursor: pointer;
  z-index: 5;
  box-shadow: 0px 2px 2px -1px #777;
}

#right_close:hover{
  transform: scale(1.10);
}

.right_sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 2;
  top: 100px;
  right: 0;
  background-color: #f5f5f5;
  overflow-x: hidden;
  border-left: 1px solid rgba(56, 56, 56, 0.2);
  /* padding-top: 150px; */
}

.right_sidenav_header {
  height: 65px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* display: flex; */
  /* border-bottom: 3px solid rgba(56, 56, 56, 0.2); */
  box-shadow: 0px 2px 2px -1px #777;
}

.right_sidenav_header a {
  text-decoration: none;
  color: #212121;
  border-right: 1px solid rgba(56, 56, 56, 0.15);
}

.right_sidenav_header a:hover {
  transform: scale(1.05);
}

.header_item {
  /* padding: 10px; */
  font-size: 15px;
  font-weight: 600;
  padding: 5px;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-evenly; */
}

.right_header_active {
  color: #fd8001 !important;
}

.right_sidenav .right_sidnav_items {
  padding: 6px 8px 6px 16px;
  height: 60px;
  text-decoration: none;
  font-size: 25px;
  color: #212121;
  font-weight: 500;
  display: block;
  border-bottom: 1px solid rgba(56, 56, 56, 0.15);
}

.right_sidenav .right_sidnav_items:hover {
  background-color: rgba(192, 192, 192, 0.2);
  cursor: pointer;
  text-decoration: none;
}

.right_item_active {
  border-left: 5px solid #fd8001;
  box-shadow: 0px 2px 2px -2px #777;
}


/* @media screen and (min-width: 1551px) {
  .video-card-body video {
    width: 90%;
  }
  .video-card-footer {
    width: 90%;
  }
  .video-text {
    width: 90%;
  }
} */

@media screen and (max-width: 1700px) {
  .breadcrum-button{
    visibility: visible;
  }
  .right_sidenav_show {
    transform: translateX(0px) !important;
    transition: all 0.6s ease-in-out;
  }
  .right_sidenav {
    transform: translateX(300px);
    transition: all 0.6s ease-in-out;
  }
  .myInterview{
    /* transform: translateX(300px); */
    /* transition: all 0.6s ease-in-out; */
    width: 100%;
  }
}
