.form-container {
  width: 60%;
  margin: 10vh auto;
}

.error {
  color: red;
  font-size: 18px;
  transform: translateX(4em);
  opacity: 0;
  transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
    opacity 0.3s 0.15s ease-out;
  will-change: transform, opacity;
}

.is-visible {
  opacity: 1;
  transform: rotateZ(0deg);
}

input[type="file"] {
  /* width: 0.1px;
	height: 0.1px; */
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 7px;
}
.custom-file-upload:hover{
    transform: scale(1.02);
    transition: all 0.3s;
    background-color: rgba(224,224,224,0.5)
}
.text::after{
  content: "Upload Candidate list Again (Enter anExcel sheet)";
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 25%; /* Could be more or less, depending on screen size */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animate;
  animation-duration: 0.4s;
}

/* Add Animation
    @keyframes animate {
      from {
        top: -300px;
        opacity: 0;
      }
      to {
        top: 0;
        opacity: 1;
      }
    } */

/* Add Zoom Animation */
.animate {
  -webkit-animation: animate 0.6s;
  animation: animate 0.6s;
}

@-webkit-keyframes animate {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animate {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.invite-header {
  font-weight: bold;
}

.custom-btn {
  margin-top: 2rem;
  width: 17%;
  font-weight: bold !important;
  background-color: #212121;
  color: #fefefe;
}
.custom-btn:hover {
  background-color: #494949;
  color: white !important;
  transform: scale(1.02);
    transition: all 0.3s;
}

@media screen and (max-width: 480px) {
  .modal-content {
    width: 50%;
  }
}

@media screen and (min-width: 481px) and (max-width: 1049px) {
  .modal-content {
    width: 50%;
  }
}

@media screen and (min-width: 1050px) and (max-width: 1500px) {
  .modal-content {
    width: 35%;
  }
}
/* @media screen and (min-width:1501px){
        
    } */
