.dashboard {
  margin-top: 100px;
  margin-left: 0px;
  margin-right: 0px;
}
.main-breadcrum {
  background-color: #f5f5f5;
  height: 50px;
  border-bottom: 1px solid rgba(190, 190, 190, 0.5);
  z-index: 2;
}

/* Style the list */
.breadcrumb_ul {
  padding: 14px 16px;
  list-style: none;
  background-color: inherit;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

/* Display list items side by side */
.breadcrumb_li {
  display: inline;
  font-size: 18px;
  color: #212121;
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumb_li + .breadcrumb_li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
.breadcrumb_a {
  color: #212121;
  text-decoration: none;
}

/* Add a color on mouse-over */
.breadcrumb_a:hover {
  color: #808080;
  /* text-decoration: underline; */
  text-decoration: none;
}

.video-card {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.video-card .video-card-header {
  padding: 5px;
}

.video-card .video-card-header h3 {
  color: black;
}

.video-card-body video {
  width: 80%;
  max-height: 60vh;
}
.video-card-footer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 5px;
}

.video-card-footer-left button {
  color: black;
  background-color: transparent;
  border: 0px;
}

.video-card-footer-left button:hover {
  transform: scale(1.12);
}

.dropbtn {
  background-color: #d3d3d3;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: #5e5e5e;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #bebebe;
}

.video-text {
  width: 80%;
  color: black;
  font-size: 18px;
  padding: 10px;
}
