.dashboard {
  margin-top: 100px;
  margin-left: 0px;
  margin-right: 0px;
}
.main-breadcrum {
  background-color: #f5f5f5;
  height: 50px;
  border-bottom: 1px solid rgba(190, 190, 190, 0.5);
  z-index: 2;
}

/* Style the list */
.breadcrumb_ul {
  padding: 14px 16px;
  list-style: none;
  background-color: inherit;
  margin-block-start: 0px;
  margin-block-end: 0px;
  height: 60px;
}

/* Display list items side by side */
.breadcrumb_li {
  display: inline;
  font-size: 18px;
  color: #212121;
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumb_li + .breadcrumb_li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
.breadcrumb_a {
  color: #212121;
  text-decoration: none;
}

/* Add a color on mouse-over */
.breadcrumb_a:hover {
  color: #808080;
  /* text-decoration: underline; */
  text-decoration: none;
}

.filter_button{
  float: right;
  margin-right: 20px;
}

.dropbtn {
  background-color: #d3d3d3;
  color: white;
  padding: 8px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: #5e5e5e;
}

.dropdown {
  position: relative;
  display: inline-block;
  /* float: right; */
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #bebebe;
}
video {
  display: block;
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  margin: 20px auto;
}

.cards_wrap {
  display: flex;
  flex-wrap: wrap;
}

.cards_wrap .card_item {
  width: 25%;
  padding: 10px;
}

.cards_wrap .card_inner {
  background: #fff;
}

.cards_wrap .card_top {
  width: 100%;
  min-height: 225px;
  padding: 10px;
  padding-bottom: 0;
}

.cards_wrap .card_bottom {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.cards_wrap .card_bottom .card_name {
  text-transform: uppercase;
  text-align: left;
  color: black;
  font-weight: bold;
}

.cards_wrap .card_bottom .card_name a {
  text-decoration: none;
  color: black;
}

.cards_wrap .card_bottom .card_review {
  color: black;
}

.cards_wrap .card_bottom .card_review button {
  border: 0px;
  background-color: transparent;
  cursor: pointer;
}

.cards_wrap .card_bottom .card_review button:hover {
  transform: scale(1.12);
}

/* .cards_wrap .card_bottom .card_info {
    padding: 15px;
    margin: 10px 0;
    border: 1px dashed #0071bc;
  }
  
  .cards_wrap .card_bottom .card_info .title {
    color: #0071bc;
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .cards_wrap .card_bottom .card_creator {
    text-align: center;
  }
   */
@media (max-width: 1024px) {
  .cards_wrap .card_item {
    width: 33.3%;
  }
}

@media (max-width: 768px) {
  .cards_wrap .card_item {
    width: 50%;
  }
}

@media (max-width: 528px) {
  .cards_wrap .card_top {
    height: auto;
  }
  .cards_wrap .card_item {
    width: 100%;
  }
}
