{% extends 'response/baseResponse.html' %}
{% load static %}

{% block head %}
    <title>Interview</title>
    <link rel="stylesheet" href="{% static 'css/response/interviewDetails.css' %}">
{% endblock %}


{% block body %}
    <div class="container">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum cumque non tempora neque accusantium possimus ratione quod veritatis, maiores expedita voluptate molestias aperiam perferendis natus quibusdam quos nisi cum corrupti.
        <br>
        <br>
        <br>
        <div>Comapny Name : {{interview.company_id}}</div>
        <div> Interview Name : {{interview}}</div>
        <div> Start date : {{interview.start_date}}</div>
        <div> End date : {{interview.end_date}}</div>
        <div> Number of Question : {{interview.question_count}}</div>
        <div> Preparation time : {{interview.preparation_time}}</div>
        <div> Interview duration : {{interview.interview_duration}}</div>  
        <div> Number of attempts : {{interview.attempts_per_question}}</div>

        <a href="{% url 'Demo Interview Intro' candidate.interview_code %}"> take demo </a>
        <br>
        <a href="{% url 'Interview Recording' candidate.interview_code %}"> Start Interview </a>


    </div>
{% endblock %}
