<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    {% for message in messages %}
    <script>
        alert('{{ message }}')
    </script>
    {% endfor%}
</body>
</html>