{% extends 'base/base.html' %}{% load static %}


{% block body %}
<!-- <div class="outer-container"> -->
<div class="image-container" id="home" style="overflow: hidden;">
    <img src="{% static 'images/3.jpg' %}" alt="background" class="image">
    <div class="container">
        <div class="image-text">
            <div class="row">
                <div class="col-md-8 col-xs-12 col-sm-10">
                    <div class="header-text">
                        <h2 class="header-title animate__animated animate__fadeInUp" style="visibility: visible;">
                            VidRead Tag Line
                        </h2>
                        <blockquote class="animate__animated animate__fadeInUp"
                            style="visibility: visible;animation-delay: 1s;">
                            <strong>VidRead's</strong> automated video analytics software helps connect brands with
                            consumers through real-time video feedback, quickly and easily.
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="free-trial" style="overflow: hidden;">
    <div class="container">
        <section class="media-text align-left">
            <div class="custom-container container-collapse-bottom">
                <div class="cell image-box">
                    <img src="{% static 'images/first-block.png' %}" alt="">
                </div>
                <div class="cell text-box">
                    <h2 class=" heading-font show-on-scroll-up animate" style="visibility: visible; ">Understand people and
                        their valued opinion that impacts research</h2>
                    <h3 class="para-font show-on-scroll-up animate" style="visibility: visible; animation-delay: 0.5s; ;">
                        Gain improved insights and make better, fact-based decisions</h3>
                    <h3 class=" para-font show-on-scroll-up animate" style="visibility: visible; animation-delay: 1s; ;">The
                        capability of automatically analyzing feedback to detect and determine the business to reach
                        the pinnacle.</h3>
                    <div class="text-center">
                        <div class="btn btn-custom heading-font animate show-on-scroll-up "
                            style="visibility: visible; animation-delay: 1s; ;">Watch Demo <i class="fa fa-arrow-right"
                                aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div id="solution-1" class="gray-bg" style="overflow: hidden;">
    <div class="container">
        <section class="media-text align-right">
            <div class="custom-container container-collapse-bottom">
                <div class="cell image-box">
                    <img src="{% static 'images/first-block.png' %}" alt="">
                </div>
                <div class="cell text-box">
                    <h2 class=" show-on-scroll-up animate heading-font" >Business Research Made
                        easy</h2>
                    <h3 class=" show-on-scroll-up  animate para-font" style=" animation-delay: 0.5s; ;">
                        Achieve the desired business solutions from Agile Video</h3>
                    <h3 class=" show-on-scroll-up animate para-font" style=" animation-delay: 1s; ;">
                        Modern researchers can aid VidRead to get spontaneous reactions from their target consumers with
                        agile qualitative insight. Transforming the approach to conduct qualitative research in today’s
                        fast-paced world.
                        VidRead makes it possible to get a high volume of qualitative insight swiftly. It engages with
                        desired business solution to get a powerful impact on today’s current research environment.
                    </h3>
                    <div class="text-center">
                        <div class="btn btn-custom  show-on-scroll-up animate heading-font"
                            style="visibility: visible; animation-delay: 1s; ;">
                            Explore Our Services <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div id="solution-2" style="overflow: hidden;">
    <div class="container">
        <section class="media-text align-left">
            <div class="custom-container container-collapse-bottom">
                <div class="cell image-box">
                    <img src="{% static 'images/first-block.png' %}" alt="">
                </div>
                <div class="cell text-box">
                    <h2 class=" show-on-scroll-up animate heading-font" >Software Integration
                    </h2>
                    <h3 class=" show-on-scroll-up animate para-font" style="animation-delay: 0.5s; ">
                        Swiftly integrate business insights into your research. VidRead’s powerful video insight
                        platform makes qualitative research more impactful and meaningful. Superfast, prescriptive
                        analytics offer insight in quick tradition to overwhelm with the desired business research.
                        Access a library of human insights at your fingertips to easily uncover the stories you need to
                        make to impact your business. Easily access your agile qualitative feedback into powerful
                        deliverables with exporting and sharing.
                    </h3>
                </div>
            </div>
        </section>
    </div>
</div>


<div id="insight" class="gray-bg" style="overflow: hidden;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="page-title text-center">
                    <h1 class="heading-font">Commence with Qualitative Insights</h1>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 20px;" >
            <div class=" col-xs-12 col-md-4 text-center animate__animated show-on-scroll-left" >
                <div class="insight-image-container">
                    <img src="{% static 'images/insight-3.png' %}" alt="insight-1">
                </div>
                <div class="insight-text-box">
                    <h2 class="heading-font">Capture</h2>
                    <h3 class="para-font">Store rich qualitative feedback from your desired targets and consumers. Reach your audience through our portal or integrate it into your qualitative research platforms and get valuable feedback from the target respondents.</h3>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 text-center animate__animated show-on-scroll-in" >
                <div class="insight-image-container">
                    <img src="{% static 'images/insight-2.png' %}" alt="insight-1">
                </div>
                <div class="insight-text-box">
                    <h2 class="heading-font">Analyze</h2>
                    <h3 class="para-font">Analyze the qualitative videos and scale them on quantitative measurements. Vote your customers on most or least compelling and identify the weightage during your business research. Robust automated analysis to uncover key highlights swiftly.</h3>
                </div>
            </div>
            <div class=" col-xs-12 col-md-4 text-center animate__animated show-on-scroll-right" >
                <div class="insight-image-container">
                    <img src="{% static 'images/insight-3.png' %}" alt="insight-1">
                </div>
                <div class="insight-text-box">
                    <h2 class="heading-font">Share</h2>
                    <h3 class="para-font">"Live and Learn and it’s nice to share." Do not vault these videos and pile your database keeping these powerful insights to yourself. "Click" on share or export to embrace a business solution. </h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="lets-start" style="overflow: hidden;">
    <div class="container">
        <section class="media-text align-left">
            <div class="custom-container container-collapse-bottom">
                <div class="cell image-box text-center">
                    <img src="{% static 'images/letsstart.png' %}" alt="" style="width: 50%; height: auto;">
                </div>
                <div class="cell text-box">
                    <h2 class=" show-on-scroll-up animate heading-font" style="visibility: visible; ;">Think about your qualitative research and join hands with VidRead to gain your business insights.</h2>
                    <div class="text-center">
                        <div class="btn btn-custom animate show-on-scroll-up  heading-font"
                            style="visibility: visible; animation-delay: 0.5s; ;">Lets Start <i class="fa fa-arrow-right"
                                aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div id="services" class="gray-bg" style="overflow: hidden;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="page-title text-center">
                    <h1 class="heading-font">Our Services</h1>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4 col-sm-6 col-xs-12  animate__animated show-on-scroll-left">
                <div class="service-box" >
                    <div class="box-icon">
                        <i class="fas fa-chart-line"></i>
                    </div>
                    <h4 class="heading-font">Market Research</h4>
                    <!-- <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum, maiores voluptatibus, esse amet, officia dolorum dolor fuga pariatur explicabo nemo repellat autem atque neque sunt consequatur? Ut velit molestias vitae?
                    </p> -->
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 animate__animated show-on-scroll-down" >
                <div class="service-box">
                    <div class="box-icon">
                        <i class="fas fa-comment-dots"></i>
                    </div>
                    <h4 class="heading-font">Brand engagement spontaneous feedback</h4>
                    <!-- <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum, maiores voluptatibus, esse amet, officia dolorum dolor fuga pariatur explicabo nemo repellat autem atque neque sunt consequatur? Ut velit molestias vitae?
                    </p> -->
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 animate__animated show-on-scroll-right" >
                <div class="service-box">
                    <div class="box-icon">
                        <i class="fas fa-id-card"></i>
                    </div>
                    <h4 class="heading-font">Employer-employee engagement</h4>
                    <!-- <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum, maiores voluptatibus, esse amet, officia dolorum dolor fuga pariatur explicabo nemo repellat autem atque neque sunt consequatur? Ut velit molestias vitae?
                    </p> -->
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 animate__animated show-on-scroll-left" >
                <div class="service-box" >
                    <div class="box-icon">
                        <i class="fas fa-video"></i>
                    </div>
                    <h4 class="heading-font">Quick facial reactions on current affairs, movies, and other agendas</h4>
                    <!-- <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum, maiores voluptatibus, esse amet, officia dolorum dolor fuga pariatur explicabo nemo repellat autem atque neque sunt consequatur? Ut velit molestias vitae?
                    </p> -->
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 animate__animated animate show-on-scroll-up">
                <div class="service-box" > 
                    <div class="box-icon">
                        <i class="fab fa-stack-exchange"></i>
                    </div>
                    <h4 class="heading-font">One channel large audience feedback</h4>
                    <!-- <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum, maiores voluptatibus, esse amet, officia dolorum dolor fuga pariatur explicabo nemo repellat autem atque neque sunt consequatur? Ut velit molestias vitae?
                    </p> -->
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 animate__animated show-on-scroll-right" >
                <div class="service-box" >
                    <div class="box-icon">
                        <i class="fas fa-upload"></i>
                    </div>
                    <h4 class="heading-font">Offline video upload support through App for the target audience</h4>
                    <!-- <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum, maiores voluptatibus, esse amet, officia dolorum dolor fuga pariatur explicabo nemo repellat autem atque neque sunt consequatur? Ut velit molestias vitae?
                    </p> -->
                </div>
            </div>
        </div>
    </div>
</div>


<script src="{% static 'js/home.js' %}"></script>

<!-- </div> -->

{% endblock %}

{% block loginModal %}

{% endblock %}