{% extends 'response/recordResponse/baseRecording.html' %}
{% load static %}

{% block head %}
    <title>Interview</title>
    <link rel="stylesheet" href="{% static 'css/response/response.css' %}">
{% endblock %}



{% block body %}

    <div id = 'candidateCode' value = '{{ question.candidate_id.interview_code }}'>
        Candidate Code: {{ question.candidate_id.interview_code }}
    </div>
    <div id = 'question' value = '{{question.interview_questions}}'>
        Question: {{question.interview_questions}}
    </div>

    <div style="text-align: center;">
        <video id="gum" playsinline autoplay muted></video>
        <video id="recorded"></video>
    </div>

    
    <div id="preparationTime" value = {{question.interview_id.preparation_time}}>
        Time left: {{question.interview_id.preparation_time|add:'5'}}
    </div>

    <div id="interviewTime" value = {{question.interview_id.interview_duration}}>
        Time left: {{question.interview_id.interview_duration}}
    </div>



    <button id="record" type="button">Start Recording</button>
    <button id="viewResponse" type="button">View Response</button>
    <button id="playPause" type="button">Play</button>
    
    <br>
    <button id="submitVideo" type="button">Submit</button>

    

    <div id='newAttempt'>
        <div>Current Attempt: {{question.current_attempts|add:'1'}}</div>
        <div>Remaining Attempt: {{remaining_attempt}} </div>
        {% if question.current_attempts|add:'1' < question.max_attempts %}
            <button id="new" type="button">Record again</button>
        {% endif %}
    </div>

    <div id='nextQuestion'>
        <button id='next' type="button">Next</button>
    </div>





    <script src="{% static 'js/response/response.js' %}" async></script>

{% endblock %}