{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css' rel='stylesheet'
        type='text/css' media='all' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/account/loginStyle.css'%}">
    <link rel="stylesheet" href="{% static 'css/account/confirmAccount.css' %}">

    <script src="{% static 'js/account/confirmAccount.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    

    {% block head%}

    {% endblock %}

</head>

<body class="text-center" style="background-color: #f0f0f0; margin: 0px;">
    <div id="particles-js"></div>
    <div class="container">
        <div class="row center">
            <div class="col-md-6 ">
                <div class="image-container">
                    <img src="{% static 'images/FoxTrans.png' %}" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="flip-box">
                    <div class="flip-box-inner">


                        {% block body %}

                        {% endblock %}

                    </div>
                </div>
            </div>
        </div>
    </div>

    {% for message in messages %}
    <script>
        alert('{{ message }}')
    </script>
    {% endfor %}

    <script src="{% static 'js/account/login.js' %}"></script>
    <script>
        particlesJS.load('particles-js', "{% static 'js/account/particles.js' %}", function () {
            console.log('particles.json loaded...');
        });
    </script>
    <script src="{% static 'js/account/particles.js' %}"></script>
</body>

</html>