{% extends 'account/baseLogin.html'%}
{% load static %}


{% block head%}
<title>Confirm Account</title>
{% endblock %}

{% block body%}


<div class="flip-box-front">
    <h1>Account Confirmation</h1>
    <h4 style="margin: 3rem 0rem;">Please enter the OTP sent to Your Email: {{user.email}}</h4>
    <form method="POST" action="/accounts/confirmAccount/">
        {% csrf_token %}
        <div class="form-group">
            <!-- <label><h4>Enter OTP:</h4> </label> -->
            <input type="text" class="form-control" name="otp" placeholder="Enter the 6 digit OTP" required>
        </div>
        <div class="form-group">
            <button class="btn custom-btn" type="submit" value="submit"> Submit </button>
        </div>
        <div class="form-group">
            <a href="/accounts/resendConfirmationOTP/">Resend OPT</a>
        </div>
    </form>
</div>


{% endblock %}