{% extends 'home.html' %}
{% load static %}

{% block loginModal %}
<!-- The Modal -->
<div id="login-modal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="text-center">
            <h3 class="login-header">LOGIN</h3>
            <form method="POST" action="/accounts/signin/" class="form">
                {% csrf_token %}
                <div class="form-group">
                    <input type="email" name="email" placeholder="Email address" class="form-control login-input" required>
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="Password" class="form-control login-input" required>
                </div>
                <div class="form-group">
                    <div class="form-text text-muted">
                        <a href="" class="form-link">Forgot password?</a>
                    </div>
                </div>
                <div class="form-group">
                    <!-- <input type="submit" value="Signin"> -->
                    <button type="submit" value="Signin" class="btn custom-btn">SIGN IN</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="{% static 'js/account/login.js' %}"></script>

{% endblock %}