{% extends 'account/baseLogin.html'%}
{% load static %}    


{% block head%}
    <title>Reset Password</title>
{% endblock %}

{% block body%}

<div class="flip-box-front">
    <h1>Reset Password</h1>
    <h4 style="margin: 3rem 0rem;">Please enter a new password</h4>
    <form method="POST" action="/accounts/resetPassword/">
        {% csrf_token %}
        <div class="form-group">
            <input type="password" class="form-control" name="password1" placeholder="Password" required>
        </div >
        <div class="form-group">
            <input type="password" class="form-control" name="password2" placeholder="Re-Enter Password" required>
        </div>
        <div class="form-group">
            <button class="btn custom-btn" type="submit" value="Reset">Submit</button>
        </div>
    </form>
</div>

    
{% endblock %}