{% extends 'demoResponse/baseDemoResponse.html' %}
{% load static %}


{% block head %}
    <title>Demo Interview</title>
    <link rel="stylesheet" href="{% static 'css/response/try.css' %}">
{% endblock %}


{% block body %}
<div>
    theory about the demo test
</div>

<div>
    <a href="{% url 'Demo Interview' interview_code %}">Start Demo Interview</a>
</div>
{% endblock %}
