{% extends 'demoResponse/baseDemoResponse.html' %}
{% load static %}

{% block head %}
    <title>Interview</title>
    <link rel="stylesheet" href="{% static 'css/demoResponse/demoResponse.css' %}">
{% endblock %}



{% block body %}

    <div id = 'demoCode'>
        Demo Code: This is a demo test for <b>{{interview_code}}</b>
    </div>
    <div id = 'question' value = '{{question.interview_questions}}'>
        Question: {{question.interview_question}}
    </div>

    <div style="text-align: center;">
        <video id="gum" playsinline autoplay muted></video>
        <video id="recorded"></video>
    </div>

    
    <div id="preparationTime" value = {{question.interview_id.preparation_time}}>
        Time left: {{question.interview_id.preparation_time|add:'5'}}
    </div>

    <div id="interviewTime" value = {{question.interview_id.interview_duration}}>
        Time left: {{question.interview_id.interview_duration}}
    </div>



    <button id="record" type="button">Start Recording</button>
    <button id="viewResponse" type="button">View Response</button>
    <button id="playPause" type="button">Play</button>
    
    <br>
    
    <div id='newAttempt'>
        <div>Current Attempt: 1</div>
        <div>Remaining Attempt: 0</div>
    </div>

    <div>
        <a href="{% url 'Demo Interview' interview_code %}">Practice Again</a>
    </div>

    <div>
        <a href="{% url 'Interview Intro' interview_code %}">Go to the interview page</a>
    </div>




    <script src="{% static 'js/demoResponse/demoResponse.js' %}" async></script>

{% endblock %}