.mySlides{
  display: none;
}

.image-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.image {
  width: inherit;
  height: 950px;
  /* width: 100%; */
  /* height: 100%; */
  filter: brightness(60%);
}
.image-text {
  position: absolute;
  top: 35%;
  /* left: 0; */
  /* font-size: 6rem; */
  color: #fff;
}
.header-title {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 80px;
  font-weight: 900;
  letter-spacing: 2px;
}

.header-title .dot {
  display: inline-block;
  border: 5px solid #ffffff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #a1c4fd;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#a1c4fd),
    to(#c2e9fb)
  );
  background: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 100%);
}

.header-text blockquote {
  font-size: 22px;
  display: block;
  margin-bottom: 50px;
  border-left: 0px !important;
}

#services {
  padding: 100px 0px;
}

.service-box {
  padding: 30px;
  -webkit-box-shadow: 0 0 0 0 rgba(31, 69, 113, 0.4);
  box-shadow: 0 0 0 0 rgba(31, 69, 113, 0.4);
  margin-bottom: 27px;
  border-radius: 5px;
  background-color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.service-box:hover {
  -webkit-box-shadow: 0 0 30px 0 rgba(28, 72, 115, 0.2);
  box-shadow: 0 0 30px 0 rgba(28, 72, 115, 0.2);
}

.box-icon {
  float: left;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  font-size: 30px;
  background: -webkit-linear-gradient(#a1c4fd, #c2e9fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h4 {
  color: #4f4f4f;
  font-family: "Montserrat", sans-serif;
  margin: 0 0 15px;
  font-weight: 600;
  line-height: 1.4em;
}

.service-box p {
  margin: 0 0 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.8em;
  color: #898989;
}

.page-title {
  margin-bottom: 50px;
}

.page-title .title {
  font-size: 36px;
  margin-bottom: 20px;
}

#teams {
  padding: 100px 0;
}

.team-box {
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  margin-top: 30px;
}

@media only screen and (max-width: 480px) {
}

@media only screen and (min-width: 481px) {
}

@media only screen and (min-width: 1050px) {
}

@media only screen and (min-width: 1501px) {
}
