/*---------------Navbar--------*/
html{
    scroll-behavior:  smooth !important;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    /* background-image: url("/static/images/background.jpg");
    overflow-x: auto;
    /* background-attachment: fixed; */
    /* background-size: cover; */ 
}
#symbol{
    float: left;
    display: block;
    text-decoration: none;
    color: white;
    padding: 14px 12px;
    margin-right: 50px;
    margin-left: 100px;
    font-size: 1.2em;
}

.logo{                  
    width: 60px;
    height: 60px;
    position: absolute;
    margin-left: 25px;
    margin-top: 4px;
    display: block;
}

/* .navbar{
    min-height: 50px;
} */

header{                     
    position: fixed;
    top: 0;
    left:0;
    padding: 15px 0px;
    width: 100%;
    height: 90px;
    box-sizing: border-box;
    margin-bottom: 30px;
    z-index: 1;
    transition: background-color 1s;
    font-size: 1.6rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background-color: transparent;
}

header nav{                 
    float: right;
}
header nav ul{               
    margin: 0;
    padding: 0;
    display: flex;
}
header nav ul li{            
    list-style: none;
    display: inline-block;
}
header nav ul li a {         
    /* height:60px; */
    line-height: 40px;
    padding: 10px 15px;
    color: #fff !important;
    text-decoration: none !important;
    display: block;
    outline: none;
    /* transition: 0.4s; */
    margin: 0px 4px;
}

header nav ul li a:after {         
    display:block;
    content: '';
    border-bottom: solid 2px white;  
    transform: scaleX(0);  
    transition: transform 300ms ease-in-out;
}
header nav ul li a:hover:after { color:white !important; transform: scaleX(1); }


header nav ul li a:visited:after{
    color: white;
    text-decoration: none !important;
}

/* header nav ul li a:hover{
    color: white;
    text-decoration: none;
    border-bottom: 2px solid white;
    transition: all 1s ease-in; 
} */

/* header nav ul .active{
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid white;
}   */

.menu-toggle{                
    color:#fff;
    float:right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.bg-dark {
    background-color: #414141;
    opacity: 0.9;
    color: white;
    
}

.bg-dark a {
    color: white;
}


@media (max-width:991px)           
{
    .container{
        width: 95% !important;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
    header{
        padding: 0 20px;
        height: 70px;
    }
    .menu-toggle{
        display:block;
    }
    header nav{
        position: absolute;
        width:100%;
        height: calc(100vh-70px);
        background: linear-gradient(to right, #87b5ff 0%, #99d4ef 100%);
        top:70px;
        left:-100%;
        transition: 0.5s;
    }
    header nav.active{
        left: 0;
        margin-bottom: 100px;
    }
    header nav ul{
        display:block;
        text-align: center;
    }
    header nav ul li {
        width: 100%;
    }
    header nav ul li a{
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
}

@media screen and (min-width:992px) and (max-width:1400px){
    .container{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .bg-dark {
        background-color: #414141;
        opacity: 0.8;
        width: 100%;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    
    .bg-dark a {
        color: white;
    }
    
}
/*----------Navbar end--------*/